<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="btcePublicKey" value="[YOUR PUBLIC KEY HERE]"/> <!-- get this from your btc-e account -->
    <add key="btceSecretKey" value="[YOUR SECRET KEY HERE]"/> <!-- get this from your btc-e account -->
    <add key="Pairs" value="btc_usd,ltc_usd,nmc_usd,ltc_btc"/> <!-- These are the pairs you wich to monitor -->
  </appSettings>  
</configuration>